/* Подключение шрифта StratosSkyEng */
@font-face {
    font-family: 'StratosSkyEng';
    src: url('stratosskyengweb-regular.woff2') format('woff2'),
         url('stratosskyengweb-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StratosSkyEng';
    src: url('stratosskyengweb-medium.woff2') format('woff2'),
         url('stratosskyengweb-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'StratosSkyEng';
    src: url('stratosskyengweb-bold.woff2') format('woff2'),
         url('stratosskyengweb-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}